button.orange_bg:hover{background: linear-gradient(123.49deg, #FA8560 4.43%, #FAAA60 91.54%);transition-duration: 0.2s;transition-timing-function: ease-in-out;}
.learnbg{background: url(../images/learn_image.png) no-repeat center center;background-size: cover;min-height: 450px;}
.navbar_color{background:rgba(0, 0, 0, 0.1);}
.padination_active{border: 2px solid #B4B4B4;background-color: #fff;border-radius: 5px;}
.page-link{color: #000;background-color: transparent; border: none;font-size: 13px;}
.img_action{border: 1px solid transparent;padding: 5px;}.img_action:hover{transform: scale(1.2);transition-duration: 0.2s;border: 1px solid #6f3fba;padding: 5px; border-color: transparent;}
p{margin: 0;}.center_img{display: flex;text-align: center;align-items: center;justify-content: center;}
button.slick-arrow.slick-prev::before{color: #ddd;font-size: 50px;left: -50px;position: relative;}
button.slick-arrow.slick-next::before{color: #ddd;font-size: 50px;right: -10px;position: relative;}
.lmstbl tr th{padding-bottom: 20px;padding-top: 20px;background: #F6F6F6;color: #525252;}
.btn_color:hover{background: rgb(152 115 209) !important;color: #fff;}
input#formGridAddress1,input.form-control{background-color: #fff;}
.modal-dialog{display: flex;height: 100vh;align-items: center;}
.modal-content{background:#F7F1FF;padding: 25px;}
.modal-header:hover {background: #6f3fba;color: #fff;}
.dark_green_bg:hover{background: #5bb84b;}
.lmstbl.table-striped>tbody>tr:nth-child(even)>td {
   background-color: #f6f6f6 !important;
   border-bottom-width:0;
 }
 a.white.fr {
  color: #fff;
  padding: 7px 20px;
}
 .navbar-expand-lg .navbar-nav{display: flex;align-items: center;}
 .nav_active{color: #fff !important;}
 .nav_active::before{border-bottom: 2px solid rgba(199, 163, 255, 1);content: "";height: 2px;top: 33px;animation: animate 1s linear;position: absolute;width: 80%;}
 @keyframes animate {0% {width: 0;}100% {width: 80%;}}
 .me-auto a {display: flex;align-items: center;white-space: pre;color: rgb(215, 215, 215);margin: 0 10px;position: relative;}
 nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {background: rgba(72, 72, 72, 0.01) !important;padding: 0;}
 .dropdown-menu a {margin: 0;}
 .lmstbl.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #ffffff !important;
    box-shadow:none !important;
    border-bottom-width:0;
    width: 10px;
  }
  /* .img_action:hover {
    border: transparent;
  } */
  .objfit{
    object-fit: cover;
    max-width: 100%;
  }
  .bannerImg{
    width: 306px;
    height: 184px;
  }
.tdn{text-decoration: none !important;}
.form-control:focus{box-shadow:none !important;}
.form-control{background:#F4F4F4;}
.form-check-input:checked{background-color: #6f3fba;border-color: #6f3fba;}
.form-check{line-height: 1.8rem;}
.custompos{display: flex;justify-content: space-between;}
.logout-modal:hover {
  background: transparent;
  color: #212529;
}
.dropdown-menu.show a {
  color: #4c4c4c;
  padding: 10px 20px;
  font-size: 12px;
  /* border-bottom: 1px solid #dfdfdf; */
}
.dropdown-item {
  white-space: wrap;
}
.lesson-link{
  text-decoration: none;
  color: #212529;
}
.lesson-active{
  text-decoration: none;
  color: #212529;
  font-weight: 600;
}
YouTube{
  color:white
}
button#dropdown-basic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
button#dropdown-basic:after {
  display: none;
}
.dropdown-menu{padding:0;border:0;}
.dropdown-item.active{background:rgba(111, 63, 186, .5);}
.modal-dialog{margin: 0 auto;}
.whishlist img{
  width: 30px;
  height: auto;
  cursor: pointer;
}
.whishlist{
  cursor: pointer;
}

.course-footer{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}
.password-field{
  cursor: pointer;
}
.course-count{
  width: 25px;
  height: 25px;
  color: white;
  /* background-color: red; */
  /* margin-left: 10px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 1px;
}
.div-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.user-profile{
  width: 40px;
  height: 40px;
border-radius: 50% ;
display: flex;

}
.user-profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

}

.user-profile-nav{
  width: 50px;
  height: 50px;
border-radius: 50% ;
/* position: relative; */
display: flex;
  /* border: 2px solid rgb(132, 132, 132); */
background-color: transparent;

}
.user-profile-nav img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(132, 132, 132);
  object-fit: cover;
  position: absolute;
 top: 0;
 left: 0;
 transition: transform .3s;
}

.user-profile-nav img:hover{
  /* border: 2px solid rgb(132, 132, 132); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1); 
}

.modal-footer {
  border-top: none;
}
.form-control:focus{
  border-color: #6f3fba;
}
.btn-primary {
  --bs-btn-hover-border-color: #6f3fba;
}

/* dataTable START */
.gzxemp,.jNvkxB {
  font-size: 14px;
  font-weight: 600;
}

.wrap-content{
  white-space: normal;
}

.fEnJOm{
  background-color: #FCFAFF !important; 
  height: 65px;
  border-bottom-color: #cacaca !important;
}
.lffUrX {
  font-size: 14px !important;
  
  /* line-height: 20px !important; */
}
.wrap-content{
  line-height: 25px;
}
.bElfLb {
  padding: 10px 16px 10px 16px !important;
}
.bMuwEY{
  /* box-shadow:0px 0px 7px 1px rgba(0, 0, 0, 0.08) !important; */
  box-shadow: rgb(238, 238, 238) 0px 0px 30px 2px !important; 

}

.lffUrX:not(:last-of-type) {
  /* border: 1px solid red; */
  border-bottom-style: none !important;  
  border-bottom-width: 0px !important;
  border-bottom-color: transparent !important;
}

.cQAWmj{
  border-top-width: 0px !important;
}

.eDKzGB:focus-visible {
outline: 2px solid #B4B4B4 ;
}
/* dataTable END */

/* filter box */
.main-div{
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
}
.filter-input-input{
  width: 600px !important;
  border: 1px solid #6f3fba;
  height: 40px;
  padding-left:10px ;
  border-radius: 4px;

}
.main-div input[type=text]:focus-visible{
  outline: unset;
}
.main-div .filter-button-clr {
  width: 15% !important;
  height: 40px !important;
  border: 1px solid #6f3fba !important;
  background-color: transparent !important;
  color: #6f3fba !important;
  border-radius: 4px !important;
  /* font-weight: 600; */
  margin-left: 20px !important;
}
.filter-button-clr:hover{
  opacity: 0.8;
}

.filter-containern{
  width: 50%;
}

.filter-container input[type=text]{
  width: 100%;
}
.main-div input::placeholder{
  color: #a0a0a0;
  font-size: 14px;
}
.view-btn{
  padding: 8px 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  font-weight: 600;
  color: #515151;
  cursor: pointer;
}
.view-btn:hover{
  background-color: #ededed;
  transition: all 0.1s;
}
.btn-group > .btn:first-child:not(.dropdown-toggle) {
  background-color: #000 !important;
}
/* btn-group > .btn:not(:first-child):not(.dropdown-toggle){

} */
.filter-status button#dropdown-basic{
  margin-left: 20px;
  width: auto;
  border-radius: 0;
  padding: 0 20px ;
}

#statusFilter {
  border:1px solid #6f3fba !important;
}
.input-container{
  position: relative;
  /* border: 1px solid red; */
}
.clear-icon{
width: 22px;
height: 22px;
font-size: 12px;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;

  cursor: pointer;
  color: #3e3e3e;
  position: absolute;
  top:25%;
  right: 10px;
}
.clear-icon:hover{
  background-color: #eeeeee;
  cursor: pointer;
  opacity: 0.9;
}
.form-check-input[type=radio]{
  cursor: pointer;
}
.my-loading-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.97); /* Semi-transparent white background */
  z-index: 999; 
}
.my-cardLoading {
  margin: 0 auto;
}
.icon-zoom img{
  cursor: pointer;
}
.icon-zoom img:hover{
  transition: '0.9s all';
  transform: scale(1.2);
}
.edit-btn:hover{
background-color: #f6f6f6;
}
@media screen and (min-width:320px) and (max-width:768px){
    .unset{display: unset;}
    .mw100{width:var(--w100);}
    .cusflexrow{flex-direction: column-reverse;}
    .custompos .marl10{margin-left: 0;}
    .custompos{display: inline;}
input#formBasicEmail{bottom: 0 !important;}
img.posr.fr.top5.r5{top: 35px;}
.cusflexrow .padl20{
    padding-left: 0;
}
.mobhide{
    display: none;
}
iframe{
  min-height: 200px !important;
}
.navbar-expand-lg .navbar-nav{
  align-items:start;
}
}
.dropdown-item.active{background:rgba(111, 63, 186, .2);}
@media screen and (min-width:769px) and (max-width:1366px){
    .mw100{width:var(--w100);}
}
@media screen and (min-width:320px) and (max-width:1366px){
    .fz36{font-size: 26px;}
    .fz40{font-size: 26px;}
    .w20{width: 30%;}
}
@media screen and (min-width:1024px){
    .dr100{right: 100px;}
}

ul {
  margin: 0 auto;
  list-style-type: none;
  counter-reset: steps;
  margin: 0;
  font-family: sans-serif;
  padding-left: 0;
}
ul li {
  padding:0;
  position: relative;
  margin: 0;
  /* background: #EBEBEB; */
  display: flex;
  line-height: 24px;
}
ul li:after {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  background: #EBEBEB;
}
li.lesson-item:before {
  position: absolute;
  left: 12px;
  top: 28px;
  content: "";
  height: 75%;
  width: 2px;
  background-color: #838383;
  z-index: 1;
}
.innerimg{
  float: left;
}
.last-item:before {
  display: none;
}
.outline_remove{
  outline: none;
}
.accordion,
h2.accordion-header,
.accordion-button,
.accordion-body,
.accordion-collapse.collapse.show,
.accordion-item{
  background: #f1f1f1 !important;
  background-color: #f1f1f1 !important;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0 !important;
}
.navbar-collapse{flex-grow: 0;}
h2.accordion-header{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.accordion-button:not(.collapsed){
  box-shadow: none;
  border-radius: 0 !important;
}
.complete{
  background: var(--dark_purple) !important;
}
button.accordion-button.collapsed:focus{
  box-shadow: none !important;
}
h2.accordion-header {
  border-bottom: 0.5px solid #858585;
}
.accordion-body{
  padding-top: 8px;
  padding-bottom: 8px;
}
.dropdown-menu.show {
  width: 100%;
  background: #ebebeb;
  border-radius: 0;
  float: left;
  min-width: 200px;
}
.dropdown-menu[data-bs-popper]{
  top: 110%;
  left: -65px;
}
.navbar-nav .nav-link.active{color: rgba(151, 151, 151, 1);;}
button.navbar-toggler.collapsed,
button.navbar-toggler {
  background: #fff;
}
.nav-link:hover{
  color: #fff;
}
button.accordion-button {
  padding-left: 0;
  padding-right: 0;
}
.dropdown-menu.show a {
  color: #000;
}
.dropdown-menu.show a:hover {
  color: #000;
}
.dropdown-item:hover, .dropdown-item:focus{
  background-color: #f1f0f0;
}
iframe {
  min-height: 750px;
}
.bg-info{
  background-color: #4a4a4a !important;
}
.imgactive{
  z-index: 1;
  width: 15px;
  height: 15px;
  right: 2px;
  position: relative;
  bottom: 3px;
}
.imgactive1{
  z-index: 1;
  width: 10px;
  height: 10px;
  position: relative;
  right: 2px;
  bottom: 3px;
}
.checkCss{
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 8px;
  border: 2px solid rgb(74, 74, 74);
}
.checkCss1{
  border-radius: 50px;
  width: 25px;
  height: 25px;
  padding: 10px;
  z-index: 2; 
  border: 2px solid #838383;
}
.enablebg{
  background:  rgb(74, 74, 74) !important;
}
.enablebg1{
  background: #838383;
  display:flex;
  align-content: center;
  padding: 8px;
}
.enablebg .enable_tick{
  display: block !important;
}
.enablebg1 .enable_tick{
  display: block !important;
}
.cus_btn_new{
  background: transparent;
  color: #000;
  border: 1px solid #6f3fba;
}
.red{
  color:rgba(255, 0, 0, 1);
}
.custome .modal-content{background: #fff !important;}
.form-check {
  display: inline-flex;
  margin-right: 50px;
}
.form-check input {
  margin-right: 10px;
}
input[type=file]::file-selector-button {display: none;}
input.bor_dark_purple.br5.form-control {
  border: 1px solid rgba(153, 143, 143, 1);
  padding: 10px 0;
}
input#inputPassword5 {
  padding-left: 10px;
}
select#formBasicEmail,
input#formBasicEmail,
input.bor_dark_purple.br5.form-control{
  padding: 10px;
}
/* .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
  background:#199804;
} */
/* .block .form-check{display: block ;} */
input#formBasicEmail{
  border-color: #6f3fba;
}
.form-select:focus{
  box-shadow: unset;
  border-color:#6f3fba
}
.dark_purple.btn.btn-primary{
  color: #6F3FBA !important;
}
.dark_purple.btn.btn-primary:hover{
  color: #fff !important;
  border-color: transparent;
  background: #6F3FBA !important;
}

.dev .btn-outline-success, .dev .btn-outline-warning, .dev .btn-outline-danger{
  font-size: 14px;
  font-weight: 600;
}
.dev .btn-outline-success{

  --bs-btn-color: #20c997;
    --bs-btn-border-color: #20c997;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #20c997;
    --bs-btn-hover-border-color: #20c997;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #20c997;
    --bs-btn-active-border-color: #20c997;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #20c997;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #20c997;
    --bs-gradient: none;
}
.btn-outline-warning {
  --bs-btn-color: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #ffc107;
  --bs-btn-active-border-color: #ffc107;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffc107;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc107;
  --bs-gradient: none;
}
textarea#formBasicEmail {
  padding: 10px;
}
.block.row .form-check {
  display: inline-block;
}
.objfit{object-fit: cover;height: 100%;}
@media screen and (min-width:320px) and (max-width:768px){
  .h100vh{
    height: unset;
  }
  .fw600.fz30.black.card-title.h5 {
    font-size: 25px;
    margin-bottom: 40px !important;
}
.vmiddle.dr100.h100vh.marl20{
  margin-left: 0;
}
}
@media screen and (min-width:1367px) and (max-width:1550px){
  .fw600.fz30.black.card-title.h5{
    font-size: 25px;
    margin-bottom: 40px !important;
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
  .fw600.fz30.black.card-title.h5 {
    font-size: 23px;
    margin-bottom: 40px !important;
}
}
@media screen and (min-width:640px) and (max-width:768px){
  button.slick-arrow.slick-next::before{
    right: -10px;
    font-size: 40px;
    position: absolute;
  }
  button.slick-arrow.slick-prev::before{
    left: -10px;
    font-size: 40px;
    position: absolute;
  }
}
input#subCategoryInput {
  padding: 10px;
}button.padl50.padr50.white_bg.black.h50.br5.fw600.fz18.btn.btn-secondary:hover{
  color: #fff !important;
  border: none !important;
}
button.padl50.padr50.dark_purple_bg.h50.br5.fw600.fz18.btn_color.born.btn.btn-primary{
  border: none !important;
}
@media screen and (min-width:320px) and (max-width:768px){
  button.btn.btn-primary.padl50.padr50.dark_purple_bg.h50.br5.fw600.fz18.btn_color.born {
    padding: 0 20px;
}
  button.btn.btn-secondary.padl50.padr50.white_bg.black.h50.br5.fw600.fz18 {
    padding: 10px 20px;
  }
}