button.orange_bg:hover{background: linear-gradient(123.49deg, #FA8560 4.43%, #FAAA60 91.54%);transition-duration: 0.2s;transition-timing-function: ease-in-out;}
.learnbg{background: url(../images/learn_image.png) no-repeat center center;background-size: cover;min-height: 450px;}
.navbar_color{background:rgba(0, 0, 0, 0.1);}
.padination_active{border: 2px solid #B4B4B4;background-color: #fff;border-radius: 5px;}
.page-link{color: #000;background-color: transparent; border: none;font-size: 13px;}
.img_action{border: 1px solid transparent;padding: 5px;}.img_action:hover{transform: scale(1.2);transition-duration: 0.2s;border: 1px solid #6f3fba;padding: 5px; border-color: transparent;}
p{margin: 0;}.center_img{width: 100%; height: 185px ; display: flex;text-align: center;align-items: center;justify-content: center;}
button.slick-arrow.slick-prev::before{color: #ddd;font-size: 50px;left: -50px;position: relative;}
button.slick-arrow.slick-next::before{color: #ddd;font-size: 50px;right: -10px;position: relative;}
.lmstbl tr th{padding-bottom: 20px;padding-top: 20px;background: #F6F6F6;color: #525252;}
.btn_color:hover{background: rgb(152 115 209) !important;color: #fff;}
input#formGridAddress1,input.form-control{background-color: #fff;}
.modal-dialog{display: flex;height: 100vh;align-items: center;}
.modal-content{background:#F7F1FF;padding: 25px;}
.modal-header:hover {background: #6f3fba;color: #fff;}
.dark_green_bg:hover{background: #5bb84b;}
.fiance_clr {background-color: #50bb96;}
.lmstbl.table-striped>tbody>tr:nth-child(even)>td {
   background-color: #f6f6f6 !important;
   border-bottom-width:0;
 }
 a.white.fr {
  color: #fff;
  padding: 7px 20px;
}
.log-btnClr{
  background: linear-gradient(92.92deg, #6F3FBA 1.96%, #8B3FBA 87.22%);
}
.log-btnClr:hover{
  background: linear-gradient(92.92deg, #8B3FBA   1.96%, #6F3FBA 87.22%);
}
 .navbar-expand-lg .navbar-nav{display: flex;align-items: center;}
 .nav_active{color: #fff !important;}
 .nav_active::before{border-bottom: 2px solid #da9fff;content: "";height: 2px;top: 33px;animation: animate 1s linear;position: absolute;width: 80%;}
 .card-absolute{
  position: absolute;
  top:130px;
  right: 160px;
 }
 .logincard-body{
  padding: 50px 80px;
 }
 .card-Relative{
  position: relative;
 }
 @keyframes animate {0% {width: 0;}100% {width: 80%;}}
 .me-auto a {display: flex;align-items: center;white-space: pre;color: rgb(215, 215, 215);margin: 0 10px;position: relative;}
 nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {padding: 0;}
 .dropdown-menu a {margin: 0;}
 .lmstbl.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #ffffff !important;
    box-shadow:none !important;
    border-bottom-width:0;
    width: 10px;
  }
  /* .img_action:hover {
    border: transparent;
  } */
  .objfit{
    object-fit: cover;
    max-width: 100%;
  }
  .bannerImg{
    width: 306px;
    height: 184px;
  }
.tdn{text-decoration: none !important;}
.form-control:focus{box-shadow:none !important;}
.form-control{background:#F4F4F4;}
.form-check-input:checked{background-color: #6f3fba;border-color: #6f3fba;}
.form-check{line-height: 1.8rem;}
.custompos{display: flex;justify-content: space-between;}
.logout-modal:hover {
  background: transparent;
  color: #212529;
}
.dropdown-menu.show a {
  color: #4c4c4c;
  padding: 10px 20px;
  font-size: 12px;
  /* border-bottom: 1px solid #dfdfdf; */
}
.dropdown-item {
  white-space: wrap;
}
.lesson-link{
  text-decoration: none;
  color: #212529;
}
.lesson-active{
  text-decoration: none;
  color: #212529;
  font-weight: 600;
}
YouTube{
  color:white
}
button#dropdown-basic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
button#dropdown-basic:after {
  display: none;
}
.dropdown-menu{padding:0;border:0;}
.dropdown-item.active{background:rgba(111, 63, 186, .5);}
.modal-dialog{margin: 0 auto;}
.whishlist img{
  width: 30px;
  height: auto;
  cursor: pointer;
}
.whishlist{
  cursor: pointer;
}

.course-footer{
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
  align-items: center;
}
.password-field{
  cursor: pointer;
}
.course-count{
  width: 25px;
  height: 25px;
  color: white;
  /* background-color: red; */
  /* margin-left: 10px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 1px;
}
.div-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.user-profile{
  width: 40px;
  height: 40px;
border-radius: 50% ;
display: flex;

}
.user-profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

}

.user-profile-nav{
  width: 50px;
  height: 50px;
border-radius: 50% ;
/* position: relative; */
display: flex;
  /* border: 2px solid rgb(132, 132, 132); */
background-color: transparent;

}
.user-profile-nav img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(132, 132, 132);
  object-fit: cover;
  position: absolute;
 top: 0;
 left: 0;
 transition: transform .3s;
}

.user-profile-nav img:hover{
  /* border: 2px solid rgb(132, 132, 132); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
-ms-transform: scale(1.1); /* IE 9 */
-webkit-transform: scale(1.1); /* Safari 3-8 */
transform: scale(1.1); 
}

.modal-footer {
  border-top: none;
}
.form-control:focus{
  border-color: #6f3fba;
}
.btn-primary {
  --bs-btn-hover-border-color: #6f3fba;
}

/* dataTable START */
.gzxemp,.jNvkxB,.rdt_TableCol_Sortable div {
  font-size: 14px;
  font-weight: 600;
}

.wrap-content{
  white-space: normal;
}

.fEnJOm,.rdt_TableHead,.hqobYx,.rdt_TableHeadRow{
  background-color: #F9F5FF !important; 
  height: 65px;
  border-bottom-color: #cacaca !important;
}
.lffUrX,.ioFJer,.rdt_TableCell {
  font-size: 14px !important;
  
  /* line-height: 20px !important; */
}
.wrap-content{
  line-height: 25px;
}
.bElfLb,.bvpiit,.rdt_TableCell {
  padding: 10px 16px 10px 16px !important;
}
.sc-aXZVg,.bMuwEY,.JQWrf,.rdt_Table,.jNIkof,.gmlwXk{
  box-shadow:0px 0px 9px 1px rgba(0, 0, 0, 0.08) !important;
  /* box-shadow: rgb(238, 238, 238) 0px 0px 30px 2px !important;  */

}
.rdt_Table{
  max-width: 100%;
  /* border: 2px solid rgb(45, 62, 255); */
  border-radius: 20px 20px 0 0 !important;
  margin: 0 !important;
  padding: 0 !important;

}
.sc-feUZmu .jzrolw{
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;

}

.lffUrX:not(:last-of-type),.ioFJer:not(:last-of-type),.rdt_TableCell,.rdt_TableBody,.rdt_TableRow {
  /* border: 1px solid rgb(99, 99, 99); */
  border-bottom-style: none !important;  
  border-bottom-width: 0px !important;
  border-bottom-color: transparent !important;
}
.kqWIVd,.rdt_Pagination{
  border-top-style: none !important;  
  border-top-width: 0px !important;
  border-top-color: transparent !important;
}
/* .cQAWmj{
  border-top-width: 0px !important;
} */

/* .eDKzGB:focus-visible {
outline: 2px solid #B4B4B4 ;
} */
/* dataTable END */

/* filter box */
.main-div{
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
}
.filter-input-input{
  
  width: 600px !important;
  border: 1px solid #6f3fba;
  height: 40px;
  padding-left:10px ;
  border-radius: 4px;

}
.main-div input[type=text]:focus-visible{
  outline: unset;
}
.main-div .filter-button-clr {
  width: 15% !important;
  height: 40px !important;
  border: 1px solid #6f3fba !important;
  background-color: transparent !important;
  color: #6f3fba !important;
  border-radius: 4px !important;
  /* font-weight: 600; */
  margin-left: 20px !important;
}
.filter-button-clr:hover{
  opacity: 0.8;
}

.filter-containern{
  width: 50%;
}

.filter-container input[type=text]{
  width: 100%;
}
.main-div input::placeholder{
  color: #a0a0a0;
  font-size: 14px;
}
.view-btn{
  padding: 8px 40px;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  font-weight: 600;
  color: #515151;
  cursor: pointer;
}
.view-btn:hover{
  background-color: #ededed;
  transition: all 0.1s;
}
.btn-group > .btn:first-child:not(.dropdown-toggle) {
  background-color: #000 !important;
}
/* btn-group > .btn:not(:first-child):not(.dropdown-toggle){

} */
.filter-status button#dropdown-basic{
  margin-left: 20px;
  width: auto;
  border-radius: 0;
  padding: 0 20px ;
}

#statusFilter {
  border:1px solid #6f3fba !important;
}
.input-container{
  position: relative;
  /* border: 1px solid red; */
}
.clear-icon{
width: 22px;
height: 22px;
font-size: 12px;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;

  cursor: pointer;
  color: #3e3e3e;
  position: absolute;
  top:25%;
  right: 10px;
}
.clear-icon:hover{
  background-color: #eeeeee;
  cursor: pointer;
  opacity: 0.9;
}
.form-check-input[type=radio]{
  cursor: pointer;
}
.my-loading-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.97); /* Semi-transparent white background */
  z-index: 999; 
}
.my-cardLoading {
  margin: 0 auto;
}
.icon-zoom img{
  cursor: pointer;
}
.icon-zoom img:hover{
  transition: '0.9s all';
  transform: scale(1.2);
}
.edit-btn:hover{
background-color: #f6f6f6;
}

/* //for slider */
.slide-item {
  width: 100%;
 
  height: auto;
  border-radius: 20px;
}
.slick-track,.slick-initialized,.slick-list{
  /* border: 1px solid red; */
  height: 400px;
}

.slider-Img{
  width: 412px;
  height: 215px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.slide-item .content-container {
  width: 412px ;
  height: auto ; 
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
}

.slide-item h3 {
  height: 60px; 
  overflow: hidden;
}

.slick-slide{
  width: auto !important;
}

/* //subcat */
.center_img p{
  filter: drop-shadow(10px 0px 5px #363636);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


/* //animation */
.scale-animation .myanimation:hover{ 
  transform: scale(1.04);
}
.scale-animation .myanimation{ 
  transition: all .2s ease-in-out;
}

/* course card */
/* .courseCard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
}
.courseCard-IMG{
width: 300px;
height: 167px;
object-fit: cover;
}
.courseCard-Content{
  width: 300px;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* pdf screen */
#myPdf{
  height: 710px;
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 10px;
  overflow: hidden !important; 
}

/* courseCard */
.courseBody{
  display: flex;
  flex-direction: row  !important;
  justify-content: space-between;
  /* border: 1px solid rgb(0, 255, 0); */
}

.course-card{
  box-shadow:0 0 10px 5px #eee ;
}
.course_submittedCard-content{
  display: flex;
  flex-direction: row;
  /* border: 1px solid rgb(36, 36, 36); */
}
.course_submittedCard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  
}
.courseEditDelete-icon{
  display: inline-flex !important; 
  
}
.course-bodyContentBox{
  padding: 20px;
}

/* //chapter,lesson */
.Chapter-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lesson-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px 2px #f7f7f7;
  /* border: 1px solid red; */
}
.lesson-set1{
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lesson-set2{
  width: 15%;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
}
/* table */


@keyframes moveToRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(300px);
  }
}

@media screen and (min-width:320px) and (max-width:768px){
  .unset{display: unset;}
    .mw100{width:var(--w100);}
    .cusflexrow{flex-direction: column-reverse;}
    .custompos .marl10{margin-left: 0;}
    .custompos{display: inline;}
input#formBasicEmail{bottom: 0 !important;}
img.posr.fr.top5.r5{top: 35px;}
.cusflexrow .padl20{
    padding-left: 0;
}
.mobhide{
    display: none;
}
iframe{
  min-height: 200px !important;
}
.navbar-expand-lg .navbar-nav{
  align-items:start;
}
}
.dropdown-item.active{background:rgba(111, 63, 186, .2);}
@media screen and (min-width:320px) and (max-width:1440px){
  .category-dropdown{
    width: 250px !important;
  }
    .fz36{font-size: 26px;}
    .fz40{font-size: 26px;}
    .w20{width: 30%;}
}
@media screen and (min-width:1024px){
    .dr100{right: 100px;}
}

ul {
  margin: 0 auto;
  list-style-type: none;
  counter-reset: steps;
  margin: 0;
  font-family: sans-serif;
  padding-left: 0;
}
ul li {
  padding:0;
  position: relative;
  margin: 0;
  /* background: #EBEBEB; */
  display: flex;
  line-height: 24px;
}
ul li:after {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  background: #EBEBEB;
}
li.lesson-item:before {
  position: absolute;
  left: 12px;
  top: 28px;
  content: "";
  height: 75%;
  width: 2px;
  background-color: #838383;
  z-index: 1;
}
.innerimg{
  float: left;
}
.last-item:before {
  display: none;
}
.outline_remove{
  outline: none;
}
.accordion,
h2.accordion-header,
.accordion-button,
.accordion-body,
.accordion-collapse.collapse.show,
.accordion-item{
  background: #f1f1f1 !important;
  background-color: #f1f1f1 !important;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0 !important;
}
.navbar-collapse{flex-grow: 0;}
h2.accordion-header{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.accordion-button:not(.collapsed){
  box-shadow: none;
  border-radius: 0 !important;
}
.complete{
  background: var(--dark_purple) !important;
}
button.accordion-button.collapsed:focus{
  box-shadow: none !important;
}
h2.accordion-header {
  border-bottom: 0.5px solid #858585;
}
.accordion-body{
  padding-top: 8px;
  padding-bottom: 8px;
}
.dropdown-menu.show {
  width: 100%;
  background: #ebebeb;
  border-radius: 0;
  float: left;
  min-width: 200px;
}
.dropdown-menu[data-bs-popper]{
  top: 110%;
  left: -65px;
}
.navbar-nav .nav-link.active{color: rgba(151, 151, 151, 1);;}
button.navbar-toggler.collapsed,
button.navbar-toggler {
  background: #fff;
}
.nav-link:hover{
  color: #fff;
}
button.accordion-button {
  padding-left: 0;
  padding-right: 0;
}
.dropdown-menu.show a {
  color: #000;
}
.dropdown-menu.show a:hover {
  color: #000;
}
.dropdown-item:hover, .dropdown-item:focus{
  background-color: #f1f0f0;
}
iframe {
  min-height: 750px;
}
.bg-info{
  background-color: #4a4a4a !important;
}
.imgactive{
  z-index: 1;
  width: 15px;
  height: 15px;
  right: 2px;
  position: relative;
  bottom: 3px;
}
.imgactive1{
  z-index: 1;
  width: 10px;
  height: 10px;
  position: relative;
  right: 2px;
  bottom: 3px;
}
.checkCss{
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 8px;
  border: 2px solid rgb(74, 74, 74);
}
.checkCss1{
  border-radius: 50px;
  width: 25px;
  height: 25px;
  padding: 10px;
  z-index: 2; 
  border: 2px solid #838383;
}
.enablebg{
  background:  rgb(74, 74, 74) !important;
}
.enablebg1{
  background: #838383;
  display:flex;
  align-content: center;
  padding: 8px;
}
.enablebg .enable_tick{
  display: block !important;
}
.enablebg1 .enable_tick{
  display: block !important;
}
.cus_btn_new{
  background: transparent;
  color: #000;
  border: 1px solid #6f3fba;
}
.red{
  color:rgba(255, 0, 0, 1);
}
.custome .modal-content{background: #fff !important;}
.form-check {
  display: inline-flex;
  margin-right: 50px;
}
.form-check input {
  margin-right: 10px;
}
input[type=file]::file-selector-button {display: none;}
input.bor_dark_purple.br5.form-control {
  border: 1px solid rgba(153, 143, 143, 1);
  padding: 10px 0;
}
input#inputPassword5 {
  padding-left: 10px;
}
select#formBasicEmail,
input#formBasicEmail,
input.bor_dark_purple.br5.form-control{
  padding: 10px;
}
/* .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
  background:#199804;
} */
/* .block .form-check{display: block ;} */
input#formBasicEmail{
  border-color: #6f3fba;
}
.form-select:focus{
  box-shadow: unset;
  border-color:#6f3fba
}
.dark_purple.btn.btn-primary{
  color: #6F3FBA !important;
}
.dark_purple.btn.btn-primary:hover{
  color: #fff !important;
  border-color: transparent;
  background: #6F3FBA !important;
}

.dev .btn-outline-success, .dev .btn-outline-warning, .dev .btn-outline-danger{
  font-size: 14px;
  font-weight: 600;
}
.dev .btn-outline-success{

  --bs-btn-color: #20c997;
    --bs-btn-border-color: #20c997;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #20c997;
    --bs-btn-hover-border-color: #20c997;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #20c997;
    --bs-btn-active-border-color: #20c997;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #20c997;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #20c997;
    --bs-gradient: none;
}
.btn-outline-warning {
  --bs-btn-color: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #ffc107;
  --bs-btn-active-border-color: #ffc107;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffc107;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc107;
  --bs-gradient: none;
}
textarea#formBasicEmail {
  padding: 10px;
}
.block.row .form-check {
  display: inline-block;
}
.customHead{
  display: flex;
  height: 230px;
  margin-top: 210px;
}
.objfit{object-fit: cover;height: 100%;}

@media screen and (min-width:320px) and (max-width:768px){
  .h100vh{
    height: unset;
  }
  .fw600.fz30.black.card-title.h5 {
    font-size: 25px;
    margin-bottom: 40px !important;
}
.vmiddle.dr100.h100vh.marl20{
  margin-left: 0;
}
}
@media screen and (min-width:1367px) and (max-width:1550px){
  .fw600.fz30.black.card-title.h5{
    font-size: 25px;
    margin-bottom: 40px !important;
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
  .fw600.fz30.black.card-title.h5 {
    font-size: 23px;
    margin-bottom: 40px !important;
}
}
@media screen and (min-width:640px) and (max-width:768px){
  button.slick-arrow.slick-next::before{
    right: -10px;
    font-size: 40px;
    position: absolute;
  }
  button.slick-arrow.slick-prev::before{
    left: -10px;
    font-size: 40px;
    position: absolute;
  }
}
input#subCategoryInput {
  padding: 10px;
}button.padl50.padr50.white_bg.black.h50.br5.fw600.fz18.btn.btn-secondary:hover{
  color: #fff !important;
  border: none !important;
}
button.padl50.padr50.dark_purple_bg.h50.br5.fw600.fz18.btn_color.born.btn.btn-primary{
  border: none !important;
}
@media screen and (min-width:1025px) and (max-width:1440px){
  button.slick-arrow.slick-prev::before{color: #ddd;font-size: 50px;left: -25px;position: relative;}
  button.slick-arrow.slick-next::before{color: #ddd;font-size: 50px;right: -0px !important;position: relative;}

}
@media screen and (min-width:992px) and (max-width:1440px){
  .dropdown-menu{
    left: -135px !important;
  }

}
@media screen and (min-width:769px) and (max-width:1440px){


  .input-container ::placeholder {
    font-size: 14px !important;
  }
  .rdt_Table,.jzrolw{
    /* border: 1px solid red; */
    margin-right: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
  .cygFkb,.jzrolw{
    width: auto !important;
    /* justify-content: flex-end; */
  }
  .rdt_TableCol_Sortable{
    /* min-width: auto !important; */
    min-width: 180px !important;
  }
  .input-container,.category-dropdown{
    min-width: 400px !important;
   
  }
  .filter-status{
    min-width: 200px !important;
   
  }
  .main-div{
    margin-top: 20px;
    flex-direction: row !important;
    gap: 10px;
  }
  .category-dropdown{
    margin-left: 0 !important;
    width: 50%;
  }
  .filter-input-input{
width: 100% !important;
  }
}
@media screen and (min-width:425px) and (max-width:768px){
  .input-container ::placeholder {
    font-size: 12px !important;
  }
  .rdt_Table,.jzrolw{
    /* border: 1px solid red; */
    margin-right: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
  .cygFkb,.jzrolw{
    width: auto !important;
    /* justify-content: flex-end; */
  }
  .rdt_TableCol_Sortable{
    min-width: 180px !important;
  }
  .input-container,.category-dropdown{
    min-width: 700px !important;
   
  }
  .main-div{
    margin-top: 20px;
    flex-direction: column !important;
    gap: 10px;
  }
  .category-dropdown{
    margin-left: 0 !important;
  }
  .filter-input-input{
width: 100% !important;
  }
}
@media screen and (min-width:0px) and (max-width:750px){
 
  .add-btn{
    width: 100% !important;
    margin-top: 10px;
  }
  .input-container ::placeholder {
    font-size: 12px !important;
  }
  .rdt_Table,.jzrolw{
    /* border: 1px solid red; */
    margin-right: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
  .cygFkb,.jzrolw{
    width: auto !important;
    /* justify-content: flex-end; */
  }
  .rdt_TableCol_Sortable{
    min-width: 180px !important;
  }
  .input-container,.category-dropdown,.filter-status{
    min-width: 200% !important;
    margin-left: 0px !important;
  }
  .main-div{
    margin-top: 20px;
    flex-direction: column !important;
    gap: 10px;
  }
  .category-dropdown{
    margin-left: 0 !important;
  }
  .filter-input-input{
width: 100% !important;
  }
  .text-center .w20{ 
width: 40% !important;
  }
  .btn-mar{
    margin-top: 10px !important;
  }
  .Add-btn .w40{
    width: 100%;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }
  .course-bodyContentBox .fz18,.Chapter-items .fz18{
    font-size: 16px;
  }
  .secondary, .mobile-btn{
   padding-left: 10px !important;
   padding-right: 10px !important;
   /* border: 1px solid red; */
  }
  .course-preview{
align-items: flex-start !important;
  }
  .modal-dialog{
align-items: center;
justify-content: center;
  }
  .modal-content{
width: 90%;
max-height: 300px;
/* overflow: hidden; */
overflow-y: auto;
  }
  .lesson-items{
    flex-direction: column;
    padding: 20px 5px !important ;
  }
  .lesson-set1{
    margin: 0 !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

  }
  .lesson-set2{
    width: 100%;
    justify-content: flex-end;

  }

  .Chapter-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
  }
  .course-bodyContentBox{
    padding: 10px 5px;
  }
  .courseBody{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse !important;
    /* border: 1px solid blue; */
  }
.course-card{
/* border: 1px solid rgb(0, 255, 76); */

}

.course_submittedCard-content{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 0 !important;
}
.course_submittedCard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.courseEditDelete-icon{
  flex-direction: row ;
  /* border: 1px solid blue; */
  justify-content: flex-end;
}
}

@media screen and (min-width:0px) and (max-width:320px){
  /* .courseCard-container{
    align-items: center;
  }
  .courseCard-IMG,.courseCard-Content{
    width: 290px;
  } */
  .slick-initialized{
    height: 310px !important;
  }
  .slider-Img{
    width: 275px;
    height: 150px;
    border-radius: 20px 20px 0 0;
  }
  .slide-item {
    width: 100% !important;
    height: auto;
    border-radius: 20px;
    /* border: 1px solid red; */
  }
  .slide-item .content-container {
    width: 275px;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px;
    box-sizing: border-box;
  }

}
@media screen and (min-width:321px) and (max-width:375px){
  /* .courseCard-container{
    align-items: center;
  }
  .courseCard-IMG,.courseCard-Content{
    width: 300px;
  } */
  .slick-initialized{
    height: 310px !important;
  }
  .slider-Img{
    width: 330px;
    height: 150px;
    border-radius: 20px 20px 0 0;
  }
  .slide-item {
    width: 100% !important;
    height: auto;
   
  }
  .slide-item .content-container {
    width: 330px;
    height: auto;
  }

}
@media screen and (min-width:376px) and (max-width:425px){
  /* .courseCard-container{
    align-items: center;
  }
  .courseCard-IMG,.courseCard-Content{
    width: 330px;
  } */

  .slick-initialized{
    height: 330px !important;
  }
  .slider-Img{
    width: 381px;
    height: 170px;
    border-radius: 20px 20px 0 0;
  }

  
  
  .slide-item {
    /* padding: 10px 30px; */
    width: 100% !important;
    height: auto;
    border-radius: 20px;
  }
  
  
  .slide-item .content-container {
    width: 381px;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
  }



  button.btn.btn-primary.padl50.padr50.dark_purple_bg.h50.br5.fw600.fz18.btn_color.born {
    padding: 0 20px;
}
  button.btn.btn-secondary.padl50.padr50.white_bg.black.h50.br5.fw600.fz18 {
    padding: 10px 20px;
  }
}

@media screen and (min-width:426px) and (max-width:898px){
  .input-container,.category-dropdown,.filter-status{
    min-width: 200% !important;
    margin-left: 0px !important;
  }
  .add-btn{
    width: 100% !important;
    margin-top: 10px;
  }
  .customHead{
    display: flex;
    height: 150px;
    margin-top: 180px;
  }
  .slick-initialized{
    height: 330px !important;
  }
  .slider-Img{
    width: 328px;
    height: 170px;
    border-radius: 20px 20px 0 0;
  }

  
  
  .slide-item {
    /* width: 80% !important; */
    height: auto;
    border-radius: 20px;
  }
  
  
  .slide-item .content-container {
    width: 328px;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
  }

  button.btn.btn-primary.padl50.padr50.dark_purple_bg.h50.br5.fw600.fz18.btn_color.born {
    padding: 0 20px;
}
  button.btn.btn-secondary.padl50.padr50.white_bg.black.h50.br5.fw600.fz18 {
    padding: 10px 20px;
  }
}

@media screen and (min-width:899px) and (max-width:1024px){
  .customHead{
    display: flex;
    height: 150px;
    margin-top: 180px;
  }
  .slick-initialized{
    height: 330px !important;
  }

  .slider-Img{
    width: 293px;
    height: 150px;
    border-radius: 20px 20px 0 0;
  }

  
  
  .slide-item {
    /* width: 80% !important; */
    height: auto;
    border-radius: 20px;
  }
  
  
  .slide-item .content-container {
    width: 293px;
    height: auto;
   
  }
button.slick-arrow.slick-prev::before{color: #ddd;font-size: 35px;left: -7px;position: relative;}
button.slick-arrow.slick-next::before{color: #ddd;font-size: 35px;right: 7px;position: relative;}
}

@media only screen and (max-width: 1440px) {
  .card-absolute{
    top: 50px;
  }
  .logincard-body{
    padding: 20px  40px;
  }
  .card-img-top {
    width: 50px;
    margin-top: 0 !important;
  }
  .card-text-dec{
    font-size: 11px;
    margin-top: 0 !important;
  }
  .logincard-body .card-body{
    padding: 0;
  }
  .card-img-top .card-title{
    margin-bottom: 20px !important;
  }
  div.vmiddle .mart40{
    margin-top: 20px;
  }
}

.error-img .constant-tilt-shake {
  animation: tilt-shaking 3.3s infinite;
}


@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@media only screen and (max-width: 1024px) {
  .fz18{
    font-size: 10px !important;
  }
  .card-absolute{
    width: auto !important;
  }
  .login-img{
    width: 90% !important;
    height: auto !important;
  }
  .card-absolute{
    top: 90px;
    right: 0px;
  }
  .login-img{
    margin-left: 0 !important;
  }
  /* #formBasicEmail, #formBasicPassword, .log-btnClr{
    width: 80%;
  } */
  /* .password-field{
    right: 60px;
  } */
  .logincard-body{
    width: 90% !important;
  }
  .card-text-dec{
    font-size: 9px !important;
  }
}
@media only screen and (max-width: 768px){
  .card-absolute{
    width: 100% !important;
    padding: 50px !important;
  }
  .logincard-body{
    width: 100% !important;
  }
  .login-img{
    width: 90% !important;
    height: auto !important;
    margin-top: 520px;
    margin-left: 20px !important;
  }
  .container-fluid{
    height: 100vh !important;
    /* background:linear-gradient(180deg, #AF7CFF 0%, #E2A4FF 100%) */
  }
  .card-absolute{
    top: 0px;
    right: 0px;
  }
  div.vmiddle .mart40{
    margin-top: 50px;
  }
  .errorcontainer{
    flex-direction: column-reverse;
    gap: 60px;
      }
}
@media only screen and (max-width: 425px){
  .logincard-body {
    width: 100%;

  }
  .login-img{
    width: 100% !important;
    height: auto !important;
    margin-top: 520px;
    margin-left: 0px !important;
  }
  .card-absolute{
    top: 0px;
    width: 100% !important;
    padding: 10px !important;
  }
  div.vmiddle .mart40 {
    margin-top: -10px !important;
  }
  .login-img{
    margin-top: 470px;
  }

 
}

/* Add this to your global.css or custom.css file */
.card{
  border: none;
  border-radius: 0;
}
.card__three {
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: '';
    pointer-events: none;
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}
/*bug Fixed*/
nav.navbar.navbar-expand-lg.navbar-light{
  position: fixed;
  width: 100%;
  z-index: 9998;
  top: 0;
}
@media screen and (min-width:320px) and (max-width:640px){
  .modal-footer button{
    width: 100% !important;
  }
  .mobile_css{
    float: left;
    margin: 0 !important;
  }
  .me-auto.navbar-nav{
    padding: 20px 0;
  }
  .modal-footer{
    justify-content: space-between;
  }
}
@media screen and (min-width:769px) and (max-width:991px){
  .navbar-expand-lg .navbar-nav{
    align-items: flex-start;
  }
}
@media screen and (min-width:1024px) and (max-width:1366px){
  iframe{
    min-height: 650px;
  }
}
.bg_color{
  background: rgb(0, 27, 34, 0.9);
  transition: 0.45s;
}
.bg_color_normal{
  background: rgba(0, 0, 0, .2);
  transition: 0.45s;
}
.navbar.navbar-expand-lg.navbar-light{
  padding: 0;
}
.login_profile{
  position: absolute;
  z-index: 9999;
  right: 0;
}
/*bug Fixed*/

